@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #2F303A;
    overflow-x: hidden;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    position: fixed;
    width: 100%;

h2 {
    background: linear-gradient(#CE6262,#895276);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar-links {
ul {
    display: flex;
}
li a {
    color: white;
    padding: 1rem;
    display: block;
}
li a:hover {
    color: red;
    transition: .5s ease;
}
}
.menu {
    position: absolute;
    flex-direction: column;
    top: 1rem;
    right: 1rem;
    display: none;
.bars {
    padding: 2px 15px;
    margin: 3px;
    background-color: white;
}
}
}
section {
    height: 100vh;
}
.home {
.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

} 
.left {
    padding-top: 9.5rem;
    img {
        height: 600px;
    }
}
.right {

    color: white;
    padding: 0 15rem 0 0;
h1 {
    font-size: 40px;
}
p {
    font-size: 20px;
}
button {
    padding: 5px 25px;
    background-color: #4E7EDB;
    color: white;
    border: none;
    border-radius: 15px;
    margin: 1rem 0;
}
}
.ellipse-icon {
    position: absolute;
    left: 75rem;
    top: 26rem;
}
}

.about {
   .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
    .left {
        color: white;
        padding: 0 5rem;
        h1 {
            font-size: 64px;
            padding: 5rem 0;
        }
        p {
            line-height: 30px;
            padding: 1rem 0;
            text-align: justify;
        }
        button {
            padding: 5px 25px;
            background-color: #4E7EDB;
            color: white;
            border: none;
            border-radius: 15px;
            margin: 1rem 0;
        }
        button:hover {
            background-color: white;
            color: #4E7EDB;
            transition: .5s ease-in-out;
            cursor: pointer;
        }
    }
    .right {
        padding-top: 15rem;
        img {
            height: 600px;
        }
    }
}


@media only screen and (max-width:768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    .menu {
        display: flex;
    }
    .navbar-links {
        width: 100%;
        display: none;
        position: absolute;
        top: 4rem;
        left: 0;
        animation: slide .5s ease-in-out;
    ul {
        flex-direction: column;
        width: 100%;
    }
    li a {
        text-align: center;
    }
    }
    .navbar-links.active {
        display: flex;
    }
    }

.home {
    .container {
        flex-direction: column;
    .left {
        padding-top: 10rem;
        img {
            height: 360px;
        }
    }
    .right {
        padding-top: 3rem;
    }
    }
    .ellipse-icon {
        display: none;
    }
}
.about {
    .container {
        flex-direction: column;
    
    .left {
        padding:0 2rem;
        h1 {
            font-size: 40px;
        }
        p {
            width: 100%;
        }
    }
    .right {
        padding-top: 2rem;
        img {
            height: 360px;
        }
    }
    }
   
}
}
@media only screen and (max-width: 436px) {
    .home {
        .container {
            .left {
                img {
                    height: 270px;
                }
            }
            .right {
                padding: 1rem;
                p {
                    width: 90%;
                }
            }
        }
        .ellipse-icon {
            display: none;
            height: 200px;
            left: 14rem;
            top: 36rem;
        }
    }
    .about {
        .container {
            flex-direction: column;
        
        .left {
            padding:0 1rem;
            h1 {
                font-size: 40px;
            }
            p {
                width: 90%;
            }
        }
        .right {
            padding: 2rem 5rem 0 0;
            img {
                height: 270px;
            }
        }
        }
       
    }
}
@media only screen and (max-width: 321px) {
    .home {
        .container {
            .right {
                h1 {
                    font-size: 20px;
                }
                p {
                    font-size: 15px;
                    width: 80%;
                }
            }
        }
    }
    .about {
        .container {        
        .left {
            padding:0 2rem;
            h1 {
                font-size: 20px;
            }
            p {
                width: 100%;
                font-size: 15px;
            }
        }
        .right {
            padding-right: 6rem;
            img {
                height: 270px;
            }
        }
        }
       
    }
}
@keyframes slide {
    0% {
        transform: translateX(-500px);
    }
}