@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2F303A;
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  position: fixed;
  width: 100%;
}
nav h2 {
  background: linear-gradient(#CE6262, #895276);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .navbar-links ul {
  display: flex;
}
nav .navbar-links li a {
  color: white;
  padding: 1rem;
  display: block;
}
nav .navbar-links li a:hover {
  color: red;
  transition: 0.5s ease;
}
nav .menu {
  position: absolute;
  flex-direction: column;
  top: 1rem;
  right: 1rem;
  display: none;
}
nav .menu .bars {
  padding: 2px 15px;
  margin: 3px;
  background-color: white;
}

section {
  height: 100vh;
}

.home .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.home .left {
  padding-top: 9.5rem;
}
.home .left img {
  height: 600px;
}
.home .right {
  color: white;
  padding: 0 15rem 0 0;
}
.home .right h1 {
  font-size: 40px;
}
.home .right p {
  font-size: 20px;
}
.home .right button {
  padding: 5px 25px;
  background-color: #4E7EDB;
  color: white;
  border: none;
  border-radius: 15px;
  margin: 1rem 0;
}
.home .ellipse-icon {
  position: absolute;
  left: 75rem;
  top: 26rem;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.about .left {
  color: white;
  padding: 0 5rem;
}
.about .left h1 {
  font-size: 64px;
  padding: 5rem 0;
}
.about .left p {
  line-height: 30px;
  padding: 1rem 0;
  text-align: justify;
}
.about .left button {
  padding: 5px 25px;
  background-color: #4E7EDB;
  color: white;
  border: none;
  border-radius: 15px;
  margin: 1rem 0;
}
.about .left button:hover {
  background-color: white;
  color: #4E7EDB;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.about .right {
  padding-top: 15rem;
}
.about .right img {
  height: 600px;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav .menu {
    display: flex;
  }
  nav .navbar-links {
    width: 100%;
    display: none;
    position: absolute;
    top: 4rem;
    left: 0;
    animation: slide 0.5s ease-in-out;
  }
  nav .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  nav .navbar-links li a {
    text-align: center;
  }
  nav .navbar-links.active {
    display: flex;
  }
  .home .container {
    flex-direction: column;
  }
  .home .container .left {
    padding-top: 10rem;
  }
  .home .container .left img {
    height: 360px;
  }
  .home .container .right {
    padding-top: 3rem;
  }
  .home .ellipse-icon {
    display: none;
  }
  .about .container {
    flex-direction: column;
  }
  .about .container .left {
    padding: 0 2rem;
  }
  .about .container .left h1 {
    font-size: 40px;
  }
  .about .container .left p {
    width: 100%;
  }
  .about .container .right {
    padding-top: 2rem;
  }
  .about .container .right img {
    height: 360px;
  }
}
@media only screen and (max-width: 436px) {
  .home .container .left img {
    height: 270px;
  }
  .home .container .right {
    padding: 1rem;
  }
  .home .container .right p {
    width: 90%;
  }
  .home .ellipse-icon {
    display: none;
    height: 200px;
    left: 14rem;
    top: 36rem;
  }
  .about .container {
    flex-direction: column;
  }
  .about .container .left {
    padding: 0 1rem;
  }
  .about .container .left h1 {
    font-size: 40px;
  }
  .about .container .left p {
    width: 100%;
  }
  .about .container .right {
    padding: 2rem 5rem 0 0;
  }
  .about .container .right img {
    height: 270px;
  }
}
@media only screen and (max-width: 321px) {
  .home .container .right h1 {
    font-size: 20px;
  }
  .home .container .right p {
    font-size: 15px;
    width: 80%;
  }
  .about .container .left {
    padding: 0 2rem;
  }
  .about .container .left h1 {
    font-size: 20px;
  }
  .about .container .left p {
    width: 100%;
    font-size: 15px;
  }
  .about .container .right {
    padding-right: 6rem;
  }
  .about .container .right img {
    height: 270px;
  }
}
@keyframes slide {
  0% {
    transform: translateX(-500px);
  }
}/*# sourceMappingURL=main.css.map */